/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

BorderPane{
	-fx-background-color: orange;
	-fx-border-color: red;
	-fx-border-width: 5px;
	-fx-border-style: solid;	

}
BorderPane:hover{
	-fx-background-color: black;
}

VBox {
	-fx-spacing: 20px;
}

#title {
	-fx-font-size: 40px;
	-fx-text-fill: white;
	-fx-alignment: center;
}

.btn {
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-padding: 12px 24px;
	-fx-font-size: 20px;
	
	
}